<div class="p-4">
  <div class="container">
    <div class="row">
      <div class="col d-none d-sm-block"></div>
      <div class="col text-center platinum header">
        <h5 class="text-bold m-0">Platinum</h5>
        <p class="small m-0">Revitalize your car fully</p>
      </div>
      <div class="col text-center gold header">
        <h5 class="text-bold m-0">Gold</h5>
        <p class="small m-0">Bring your car to its best shape</p>
      </div>
      <div class="col text-center silver header">
        <h5 class="text-bold m-0">Silver</h5>
        <p class="small m-0">Keep your car happy</p>
      </div>
    </div>
    
    <ng-container *ngIf="featuresList.length">
      <div class="row featureItem" *ngFor="let feature of featuresList;">
        <div class="col-12 col-sm text-center text-sm-left serviceItem">{{feature.service}}</div>
        <div class="col col-sm text-center">
          <span *ngIf="feature.p3 === 'Yes'" class="greenDot"></span>
          <span *ngIf="feature.p3 != 'Yes'">{{feature.p3}}</span>
        </div>
        <div class="col col-sm text-center">
          <span *ngIf="feature.p2 === 'Yes'" class="greenDot"></span>
          <span *ngIf="feature.p2 != 'Yes'">{{feature.p2}}</span>
        </div>
        <div class="col col-sm text-center">
          <span *ngIf="feature.p1 === 'Yes'" class="greenDot"></span>
          <span *ngIf="feature.p1 != 'Yes'">{{feature.p1}}</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>